/*=============================================
=                 Image Card                  =
=============================================*/

.m-image-card {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid $white;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  padding-top: 50%;
  margin: 0 auto;
  transition: box-shadow $time $easing;
}

a.m-image-card {
  text-decoration: none;

  &:focus, &:hover {
    box-shadow: 3px 3px 20px rgba(0,0,0,0.6);
  }
}

.m-image-card__text {
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  color: $white;
  padding: $padding-xxs 0;
  font-weight: $bold;
}

.m-image-card__text--hidden {
  visibility: hidden;
}
