/*=============================================
=                   Footer                    =
=============================================*/

.l-footer {
  padding: 4rem 0;
  flex-wrap: wrap;

  @include breakpoint($sm) {
    display: flex;
    justify-content: space-between;
  }

  @include breakpoint($lg) {
    flex-wrap: nowrap;
  }
}

.l-footer__logo-link {
  display: inline-block;
  margin-bottom: $padding-xxs;

  @include breakpoint($sm) {
    margin-bottom: $padding-tiny;
  }
}

.l-footer__column {

  @include breakpoint($sm - 1, max-width) {
    text-align: center;
    margin-bottom: $padding-xxs;
  }

  @include breakpoint($sm) {
    padding-right: $padding-sm;
  }

  &:first-child {
    width: 100%;
    text-align: center;
    padding-right: 0;
    order: 4;

    @include breakpoint($md) {
      order: 5;
    }

    @include breakpoint($lg) {
      order: 0;
      text-align: left;
      padding-right: $padding-lg;
      width: auto;
    }
  }

  &:last-child {
    text-align: center;
    padding-right: 0;
    order: 5;

    @include breakpoint($sm - 1, max-width) {
      margin-bottom: 0;
    }

    @include breakpoint($md) {
      order: 4;
    }

    li {

      @media only screen and (min-width: $sm) and (max-width: $md - 1) {
        text-align: center;
        display: inline-block;
        margin-top: $padding-tiny;
      }

      &:first-child {
        @media only screen and (min-width: $sm) and (max-width: $md - 1) {
          margin-right: 1rem;
        }
      }
    }

    @include breakpoint($md - 1, max-width) {
      width: 100%;
    }

    @include breakpoint($md) {
      text-align: right;
    }
  }

  &:nth-child(4) {

    @include breakpoint($md - 1, max-width) {
      text-align: right;
    }

    @include breakpoint($sm - 1, max-width) {
      text-align: center;
    }
  }
}

.l-footer__heading {
  font-weight: $bold;
}

.l-footer__link {
  text-decoration: none;
  color: $black;

  &:focus, &:hover {
    text-decoration: underline;
  }
}
