/*=============================================
=                  Typograpy                  =
=============================================*/

// .h-h1 - .h-h6
@for $i from 1 through 6 {
  .h-h#{$i} {
    font-weight: $bold;
  }
}

.h-h1 {
  font-size: 3rem;
  line-height: 1.2;

  @include breakpoint($sm) {
    font-size: 3.2rem;
  }

  @include breakpoint($md) {
    font-size: 3.6rem;
  }

  @include breakpoint($lg) {
    font-size: 4rem;
  }
}

.h-h2 {
  font-size: 2.8rem;
  line-height: 1.2;

  @include breakpoint($sm) {
    font-size: 3rem;
  }

  @include breakpoint($md) {
    font-size: 3.2rem;
  }

  @include breakpoint($lg) {
    font-size: 3.4rem;
  }
}

.h-h3 {
  font-size: 2.6rem;
  line-height: 1.2;

  @include breakpoint($sm) {
    font-size: 2.8rem;
  }

  @include breakpoint($md) {
    font-size: 3rem;
  }

  @include breakpoint($lg) {
    font-size: 3.2rem;
  }
}

.h-h4 {
  font-size: 1.8rem;
}

.h-h5 {
  font-size: 2.4rem;
}

.h-p {
  font-size: 1.6rem;

  @include breakpoint($md) {
    font-size: 1.7rem;
  }

  @include breakpoint($lg) {
    font-size: 1.8rem;
  }
}
