<div class="m-post-card">
  <p class="m-post-card__date">{{ post.date }}</p>
  <p class="m-post-card__title">{{ post.title }}</p>
  <p class="m-post-card__text">{{ post.excerpt }}</p>
  <p class="m-post-card__author">{{ post.author }}</p>
</div>
