#### System Files ####
.DS_Store


#### Editor Files ####
.ftpconfig
.vscode


#### Secrets ####
keys/*
!keys/.gitkeep


#### Dependencies ####
node_modules


#### Public ####
www/html/*


#### WordPress ####
!www/html/wp-content
www/html/wp-content/*
!www/html/wp-content/index.php


#### WordPress Plugins ####
!www/html/wp-content/plugins
www/html/wp-content/plugins/*
!www/html/wp-content/plugins/index.php
!www/html/wp-content/plugins/advanced-custom-fields-pro


#### WordPress Themes ####
!www/html/wp-content/themes
www/html/wp-content/themes/*
!www/html/wp-content/themes/index.php


#### Plugin ####
!www/html/wp-content/plugins/vanicacummings
www/html/wp-content/plugins/vanicacummings/vendor


#### Theme ####
!www/html/wp-content/themes/vanicacummings
www/html/wp-content/themes/vanicacummings/dist
www/html/wp-content/themes/vanicacummings/views
