/*=============================================
=               Call to Action                =
=============================================*/

.o-call-to-action {
  text-align: center;
}

.o-call-to-action__buttons {

  .a-button {
    margin-left: 3.2rem;

    &:first-child {
      margin-left: 0;
    }
  }
}
