/*=============================================
=               Call to Action                =
=============================================*/

.o-call-to-action {
  text-align: center;
}

.o-call-to-action__buttons {

  .a-button {

    @include breakpoint($xs - 1, max-width) {
      display: block;
      max-width: 20rem;
      margin: 0 auto $padding-xxs !important;
    }

    @include breakpoint($xs) {
      margin-left: 3.2rem;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
