/*=============================================
=                 Image / Text                =
=============================================*/

.o-image-text {
  text-align: center;
}

.o-image-text__image {
  max-width: 9rem;

  @include breakpoint($sm) {
    max-width: 10rem;
  }

  @include breakpoint($md) {
    max-width: 11rem;
  }

  @include breakpoint($lg) {
    max-width: 12rem;
  }
}

.o-image-text__heading {
  max-width: 58rem;
  margin: $padding-xxs auto;

  @include breakpoint($sm) {
    max-width: 60rem;
  }
}

.o-image-text__text {
  max-width: 51rem;
  margin: $padding-xxs auto 0;
}
