/*=============================================
=                 Image / Text                =
=============================================*/

.o-image-text {
  text-align: center;
}

.o-image-text__content {
  max-width: 50rem;
  margin: 0 auto;
}

.o-image-text__image {
  max-width: 9rem;

  @include breakpoint($sm) {
    max-width: 10rem;
  }

  @include breakpoint($md) {
    max-width: 11rem;
  }

  @include breakpoint($lg) {
    max-width: 12rem;
  }
}

.o-image-text__heading {
  margin-top: $padding-xxs;
  margin-bottom: $padding-xxs;
}

.o-image-text__text {
  margin-top: $padding-xxs;
}
