/*=============================================
=              Two Column People              =
=============================================*/

.o-two-column-people {
  text-align: center;

  .m-person-image {
    margin: 0 auto $padding-xs;

    @include breakpoint($sm) {
      margin: 0 0 $padding-xs;
    }
  }
}

.o-two-column-people__person {
  max-width: 30rem;
  margin: 0 auto;

  @include breakpoint($sm) {
    text-align: left;
  }
}

.o-two-column-people__button {
  margin: 0 auto;
}
