/*=============================================
=              Two Column People              =
=============================================*/

.o-two-column-people {
  text-align: center;

  .m-person-image {
    margin: 0 auto $padding-xs;

    @include breakpoint($sm) {
      margin: 0 0 $padding-xs;
    }
  }
}

.o-two-column-people__person {
  max-width: 30rem;
  margin: 0 auto;

  @include breakpoint($sm) {
    text-align: left;
  }
}

.o-two-column-people__button {
  margin: 0 auto;
}


// Person Image
.m-person-image {
  width: 25rem;
  max-width: 100%;
  overflow: hidden;
  border-radius: $border-radius;

  img {
    width: 100%;
  }
}

// Person Text
.m-person-text {

  .a-icon {
    font-size: 0.9rem;
    color: $purple;
    transition: color $time $easing;
  }
}

.m-person-text__name {
  line-height: 1.3;
}

.m-person-text__title {
  color: $purple;
  margin-bottom: $padding-tiny;
}

.m-person-text__social-items {
  margin-top: 2rem;
}

.m-person-text__social-item {
  display: inline-block;
  margin-right: 2px;

  &:last-child {
    margin-right: 0;
  }
}

.m-person-text__social-link {

  &:focus, &:hover {

    .a-icon {
      color: $black;
    }
  }
}
