/*=============================================
=               Header [xs-max]               =
=============================================*/

.l-header {
  padding-left: 2rem;
  padding-right: 2rem;
}

.l-header__nav-toggle {
  right: 2rem;
}

.l-header__nav {
  padding-left: 2rem;
  padding-right: 2rem;
}
