/*=============================================
=                 Header [sm]                 =
=============================================*/

.l-header__nav {
  float: right;
  height: 38px;
}

.l-header__nav-item {
  line-height: 38px;
  display: inline-block;
  margin-right: $padding-xxs;

  &:last-child {
    margin-right: 0;
  }
}
