<div class="s-page">
  <h1>Heading Level 1</h1>
  <h2>Heading Level 2</h2>
  <h3>Heading Level 3</h3>
  <h4>Heading Level 4</h4>
  <h5>Heading Level 5</h5>
  <h6>Heading Level 6</h6>
  <h7>Heading Level 7</h7>
  <p><b>This is a bolded paragraph.</b></p>
  <p><strong>This is a strong paragraph.</strong></p>
  <p>This is a paragraph.</p>
  <p><i>This is an italicized paragraph (alternative voice).</i></p>
  <p><em>This is a paragraph with emphasis.</em></p>
  <a href="#">This is a link.</a>
  <ul>
    <li>Unordered List Item</li>
    <li>Unordered List Item</li>
    <li>Unordered List Item</li>
  </ul>
  <ol>
    <li>Ordered List Item</li>
    <li>Ordered List Item</li>
    <li>Ordered List Item</li>
  </ol>
  <blockquote>This is a blockquote.</blockquote>
  <pre><code>This is a line of code.</code></pre>
</div>

<div >
  <h1 class='h-h1 h-h1--uppercase'>Heading Level 1--uppercase</h1>
  <h2 class='h-h2 h-h2--uppercase'>Heading Level 2--uppercase</h2>
  <h4 class='h-h4 h-h4--uppercase'>Heading Level 4--uppercase</h4>
  <p class='h-p--big'>This is a paragraph big.</p>
</div>
