<div class="o-archive row">
  {% if posts|length > 0 %}
    {% for post in posts %}
      <div class="o-archive__column col-md-6">
        {% include "m-post-card.twig" with { post: post } %}
      </div>
    {% endfor %}
  {% else %}
    <div class="o-archive__column col-md-6">
      <p class="h-p h-text-dark-grey">{{ site.none_found_text }}</p>
    </div>
  {% endif %}
</div>
