{% set data = data ? data : organisms.header %}

<section class="o-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="h-h2">{{ data.heading }}</h1>
        <p class="o-header__text">{{ data.text }}</p>
      </div>
    </div>
  </div>
</section>
