{% set data = data ? data : organisms.hero %}

<section class="o-hero" style="background-image: url('{{ data.bg_img }}');">
  <div class="o-hero__overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="o-hero__content">
          <h1 class="h-h1 o-hero__heading">{{ data.heading }}</h1>
          {% if data.opt_text %}
            <p class="h-p o-hero__text">{{ data.opt_text }}</p>
          {% endif %}
          {% if data.opt_button %}
            <div class="o-hero__button">
              {%
                include "a-button.twig"
                with {
                  data: {
                    style: 'light',
                    url: data.opt_button.url,
                    target: data.opt_button.target,
                    name: data.opt_button.name
                  }
                }
              %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
