{% if pagination.prev.url or pagination.next.url %}
  <section class="o-pagination h-pt-sm h-pb-sm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="o-pagination__inner">
            {% if pagination.prev.url %}
              <a class="o-pagination__link o-pagination__link--prev" href="{{ pagination.prev.url }}">
                <span class="o-pagination__arrow"></span>
                {{ pagination.prev.name }}
              </a>
            {% else %}
              <span class="o-pagination__link o-pagination__link--prev"></span>
            {% endif %}
            {% if pagination.next.url %}
              <a class="o-pagination__link o-pagination__link--next" href="{{ pagination.next.url }}">
                <span class="o-pagination__arrow"></span>
                {{ pagination.next.name }}
              </a>
            {% else %}
              <span class="o-pagination__link o-pagination__link--next"></span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
