{% if pagination.prev.url or pagination.next.url %}
  <section class="o-pagination h-pt-sm h-pb-sm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% if pagination.prev.url %}
            <a class="o-pagination__link o-pagination__link--prev" href="{{ pagination.prev.url }}">{{ pagination.prev.name }}</a>
          {% endif %}
          {% if pagination.next.url %}
            <a class="o-pagination__link o-pagination__link--next" href="{{ pagination.next.url }}">{{ pagination.next.name }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
