{% set data = sidebar %}

<aside class="o-sidebar">

  <p class="o-sidebar__text">{{ data.text }}</p>

  <div class="o-sidebar__search">
    {% include "m-search.twig" with { data: data.search } %}
  </div>

  <div class="o-sidebar__topics">
    {% include "m-tags.twig" with { data: data.tags } %}
  </div>

</aside>
