{% set data = data ? data : organisms.subscribe %}

<section class="o-subscribe {{ data.opt_border ? 'o-subscribe--border' : '' }} {{ class }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="o-subscribe__inner">
          <h2 class="h-h2 h-mb-xxs">{{ data.heading }}</h2>
          {% include "a-hr.twig" %}
          <p class="h-p h-mt-xxs h-mb-xs">{{ data.text }}</p>
          <form class="o-subscribe__form" action="">
            <input class="a-input" type="text" placeholder="Email" required>
            <input class="a-button" type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
