{% set data = data ? data : organisms.three_column_image_grid %}

<section class="o-three-column-image-grid {{ data.opt_style == 'light' ? 'o-three-column-image-grid--light' : '' }} {{ class }}">

  {% if data.opt_heading %}
    <div class="container">
      <div class="row">
        <div class="col-12 h-mb-tiny">
          <h2 class="h-h2 h-mb-xxs">{{ data.opt_heading }}</h2>
          <div class="h-mb-md">
            {% include "a-hr.twig" %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="o-three-column-image-grid__inner">
    <div class="container">
      <div class="row">

        {% for item in data.items %}
          <div class="o-three-column-image-grid__column col-sm-6 col-md-4">
            {%
              include "m-image-card.twig"
              with {
                data: {
                  opt_heading: item.opt_heading,
                  image: item.image,
                  opt_link: item.opt_link
                }
              }
            %}
          </div>
        {% endfor %}

      </div>

      <div class="row">

        {% if data.opt_button %}
          <div class="o-three-column-image-grid__button">
            {%
              include "a-button.twig"
              with {
                data: {
                  style: 'light',
                  url: data.opt_button.url,
                  target: data.opt_button.target,
                  name: data.opt_button.name
                }
              }
            %}
          </div>
        {% endif %}

      </div>
    </div>
  </div>

</section>
