/*=============================================
=             variables - colors              =
=============================================*/

/*----------  colors  ----------*/

// primary
$white: #ffffff;
$off-white: #fafafa;
$black: #333333;

// grey
$light-grey: #eeeeee;
$grey: #dddddd;

// purple
$purple: #5c2e91;
