/*=============================================
=             variables - colors              =
=============================================*/

/*----------  colors  ----------*/

// primary
$white: #ffffff;
$off-white: #fafafa;
$black: #333333;

// grey
$grey: #eeeeee;
