/*=============================================
=             variables - colors              =
=============================================*/

/*----------  colors  ----------*/

// primary
$white: #ffffff;
$off-white: #fafafa;
$black: #333333;

// grey
$x-light-grey: #e7e7e7;
$light-grey: #eeeeee;
$grey: #dddddd;
$dark-grey: #999999;
$x-dark-grey: #6a6a6a;

// purple
$light-purple: #9b7dbd;
$purple: #5c2e91;
