/*=============================================
=              Variables - Text               =
=============================================*/

// Fonts
$stack: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font: $stack;
$mono: monospace;

// Font weights
$normal: 300;
$bold: 700;
