/*=============================================
=                Social Icons                 =
=============================================*/

.a-icon--twitter {
  height: 3.1em;
  width: 3.2em;
}

.a-icon--linkedin {
  height: 3.1em;
  width: 3.2em;
}

.a-icon--email {
  height: 3.1em;
  width: 3.2em;
}

.a-icon--phone-lg {
  height: 3.2em;
  width: 3.2em;
}

.a-icon--email-lg {
  height: 3.1em;
  width: 3.2em;
}

.a-icon--linkedin-lg {
  height: 3.1em;
  width: 3.2em;
}
