/*=============================================
=                   Button                    =
=============================================*/

.a-button {
  border-radius: $border-radius;
  border: 3px solid $purple;
  padding: 1rem 2.4rem;
  font-weight: $bold;
  text-decoration: none;
  color: $purple;
  display: inline-block;
  transition: background-color $time $easing, color $time $easing;

  &:focus, &:hover {
    background-color: $purple;
    color: $white;
  }
}

.a-button--light {
  color: $white;
  border-color: $white;

  &:focus, &:hover {
    background-color: $white;
    color: $black;
  }
}
