/*=============================================
=                     hr                      =
=============================================*/

.a-hr {
  width: 80%;
  max-width: 40rem;
  background: url('../images/patterns/divider.svg');
  height: 3px;
  display: inline-block;
}
