/*=============================================
=                   Input                     =
=============================================*/

.a-input {
  border-radius: $border-radius;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.35);
  border: 2px solid transparent;
  padding: 1rem;
  font-size: 1.6rem;
  width: 100%;
  transition: box-shadow $time $easing;

  &:focus, &:hover {
    box-shadow: 0 1px 10px 2px rgba(0,0,0,0.35);
  }

  @include placeholder {
    color: $x-dark-grey;
  }
}
